<div class="banner">
  <div class="amount">
    <button><%= @list.movies.length %> movies</button>
  </div>
  <h1><%= @list.name %> movies</h1>
</div>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<% @list.movies.each do |movie| %>
  <div class="movie-card">
    <div class="poster">
      <img src="<%= movie.poster_url %>" alt="">
    </div>
    <div class="movie-title">
      <strong><%= movie.title %></strong>
      <p><%= movie.rating %></p>
      <i class="fas fa-star"></i>
    </div>
    <p><%= movie.overview %></p>
    <div class="comment">
      <i class="fas fa-quote-left"></i>
      <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>
      <%= bookmark.comment %>
      <%= link_to "delete", bookmark_path(bookmark), method: :delete %>
    </div>
  </div>
<% end %>
